body {
  font-family: Arial;
  background-color:rgb(252, 175, 120);
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  padding: 4px 10px;
  transition: 0.3s;
  font-size: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(247, 203, 171);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: rgb(247, 203, 171);
}

#b-save {
  /*width: 100%;*/
  background-color: palevioletred;
  float: right;
}

.flex-container {
    display: flex;
    gap: 20px; /* Space between columns */
}

.column {
    flex: 0; /* Allows columns to grow and shrink equally */
}

.input-short {
    width: 30px;
}

.label-character {
  display: block;
  text-align: center;
}

.in-character {
  width: 100%;
}

.txtarea-character {
  width: 100%;
}

#bb-input-char-activity {
  height: 40px;
}

#bb-input-char-style {
  height: 40px;
}

#bb-input-char-special {
  height:40px;
}

#text-area-character-cozyplace-description {
  height: 40px;
}

#text-area-character-cozyplace-items {
  height: 100px;
}

.text-area-mystery {
  width: 100%;
  height: 100px;
}

#table-conditions {
  width: 100%;
}
