header {
    background-color: rgb(245, 212, 168);
}

.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-frame {
    border: 1px solid black;
    background-color: rgb(245, 212, 168);
    padding: 4px;
}

details[open] > *:not(summary) {
    margin-left: 2em;
    /*cursor: pointer;*/
}

summary {
    cursor: pointer;
}

