body, html {
    height: 100%;
    margin: 10px;
    font-family: Arial;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: solid 1px white;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    box-shadow: 2px 2px 2px black;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

/*
#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}
*/