.html {
  font-size: 30px;
}

#img-cig1 {
  width:180px; height:100px;
}
.row {
  display: flex;
  margin-bottom: 0.5em;
  font-family: sans-serif;
}

.label {
  width: 200px;
  font-weight: bold;
  color: #444;
}